.home{
  background-color: black;
  background-image: url("img/hero-bg.png");
  background-size: cover;
  /*background-repeat: no-repeat;*/

}
.left{
  position: sticky;
  display: block;
  float: right;
  width: 70%;
  background-color: darksalmon;

}
.right{
  display: block;
  float: left;
  width: 30%;
  background-color: #888888;
  text-align: center;
}
ul{
 /*display: inline-block;*/
  list-style-type: none;
}
ul li{
  display: inline-block;
  float: right;
  /*flex-direction: column-reverse;*/
  /*display: inline-block;*/
  /*padding: 0%;*/
  margin-right: 2%;
}
a{
  /*display: inline-block;*/
  display: block;
  text-decoration: none;
  color: whitesmoke;
  /*padding: 1%;*/
  width: 100%;
  /*float: right;*/
  /*margin-right: 0;*/

}
