.main{
    background-color: lightsalmon;
    background-image:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url("img/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 907px;
    width: 100%;
}
.left{
    position: sticky;
    display: block;
    float: right;
    width: 70%;
    /*margin-left: 2%;*/
    /*background-color: darksalmon;*/

}
.right{
    display: block;
    float: left;
    width: 30%;
    /*background-color: #888888;*/
    text-align: center;
    color: whitesmoke;
    font-size: 18px;
    font-weight: bold;
}
ul{
    /*display: inline-block;*/
    list-style-type: none;
}
ul li{
    display: inline-block;
    float: left;
    margin-left: 4%;
    /*flex-direction: column-reverse;*/
    /*display: inline-block;*/
    /*padding: 0%;*/
    /*margin-right: 2%;*/
}
a{
    /*display: inline-block;*/
    display: block;
    text-decoration: none;
    color: whitesmoke;
    font-size: 18px;
    font-weight: bold;
    /*padding: 1%;*/
    width: 100%;
    /*float: right;*/
    /*margin-right: 0;*/

}
.home{
    width: 100%;
    /*background-color: black;*/

    /*opacity: 0.0.0.0 0.4;*/


}
.fortext{
    margin-top: 20%;
    text-align: left;
    margin-left: 10%;
    color: whitesmoke;
    width: 40%;
    font-weight: bold;
    font-size: 30px;
    word-wrap: break-word;
}
.Portbut{
    padding: 2%;
    font-size: 20px;
    border-radius: 150px;
    border-color: orangered;
    background: transparent;
}
